.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.title {
    font-size: 40px;
    line-height: 45px;
}

.subtitle {
    font-size: 16px;
}

.content {
    margin: auto;
    max-width: 800px;
    font-size: 16px;
    text-align: justify;
}

.blog-cta {
    margin: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px 10px;
    text-align: center;

    &-title {
        font-weight: bold;
        margin-bottom: 10px;
    }

    &-description {
        font-weight: normal;
        font-size: 12px;
    }
}
