@import '../../Styles/breakpoints';

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 800px;
    font-size: 16px;
}

.title {
    font-size: 40px;
    line-height: 45px;
    text-align: center;
}

.subtitle {
    font-size: 16px;
}

.metadata {
    font-size: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tags {
    padding: 10px;
}

.tag {
    font-size: 8px;
    color: black;
    background-color: var(--background-100);
    padding: 5px;
    margin: 5px;
}

.coverImage {
    max-height: 450px;
    width: 100%;
    object-fit: fill;
    margin: 20px 0;
}

.content {
    margin: auto;
    max-width: 800px;
    font-size: 16px;
    text-align: justify;
}

.description {
    margin: 5px 0px 20px;
    font-size: 16px;
    background-color: #8d8b8b52;
    padding: 20px;
}

.body {
    margin: 20px;

    h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 20px;
        font-weight: bold;
    }

    h3 {
        font-size: 18px;
        font-weight: bold;
    }

    ul {
        padding: 5px 20px 10px;
    }

    p {
        margin: 10px 0 25px;
        img {
            margin: 10px auto;
        }
    }

    table {
        background-color: #8d8b8b52;
        margin: 20px auto;
        padding: 10px;
        width: 100%;
        text-align: center;

        th,
        td {
            padding: 10px;
            border-bottom: 1px dashed gray;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .title {
        font-size: 25px;
        line-height: initial;
    }
}
