@import '../../Shared/Styles/colors';

.article {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-gray-medium);
    margin: 20px;

    min-width: 300px;
    min-height: 300px;

    background-color: var(--color-white);
}

.article-hero {
    display: block;
    width: 300px;
    height: 300px;

    background-color: var(--color-gray-light);
    background-size: cover;
}

.article-content {
    padding: 13px 20px;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
}

@media (min-width: 680px) {
    .article {
        flex-direction: row;
        min-width: 500px;
        min-height: 300px;
    }

    .article-hero {
        width: 250px;
        height: 300px;
    }

    .article-content {
        max-width: 250px;
        max-height: 300px;
    }
}

.article-content-title {
    font-weight: 600;
    margin-bottom: 3px;
}

.article-content-metadata {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-gray-dark);
    margin-bottom: 3px;
}

.article-content-description {
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}

.article-content-description p {
    font-size: 17px;
}
