@import '../../Styles/colors';
@import '../../Styles/breakpoints';

.header {
    padding: 10px 15px;
    border-bottom: 1px solid $color-gray-200;
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-element {
    font-family: monospace;
    font-weight: 600;
    color: var(--color);
}

@media (max-width: $breakpoint-mobile) {
    .nav-element {
        margin-bottom: 5px;
    }
}
