@import '../../Styles/colors';
@import '../../Styles/breakpoints';

.header {
    padding: 10px 15px;
    border-bottom: 1px solid $color-gray-200;
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.nav-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-element span {
    color: var(--color);
    font-weight: 700;
    font-size: 12px;
    margin: 0 5px;

    border: 1px solid var(--color);
    border-radius: 3px;
    padding: 2px 10px;
}

.nav-element {
    font-family: monospace;
    font-weight: 600;
    color: var(--color);
}

@media (max-width: $breakpoint-mobile) {
    .nav-element {
        margin-bottom: 5px;
    }
}
