@import '../../Styles/colors';
@import '../../Styles/breakpoints';

.banner {
    background-color: var(--background-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: calc((100vh - 110px) - 4vh);

    &-image {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        margin: 20px;
    }

    &-title {
        border-top: 1px solid gray;
        font-size: 40px;
        width: 70%;
        text-align: center;
        padding: 50px;
    }

    &-subtitle{
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        font-size: 20px;
        width: 70%;
        text-align: center;
        padding: 10px;
    }
}

@media (max-width: $breakpoint-mobile) {
    .banner {
        &-image {
            border-radius: 50%;
            height: 100px;
            width: 100px;
            margin: 20px;
        }
    
        &-title {
            border-top: 1px solid gray;
            font-size: 22px;
            width: 84%;
            text-align: center;
            padding: 10px;
        }

        &-subtitle {
           font-size: 12px;
        }
    }
}
