$color-white: #FFF;

$color-black-100: #0000000d;
$color-black-200: #0000008a;
$color-black-300: #282c35;

$color-gray-100: #f0f5f9;
$color-gray-200: #c9d6df;
$color-gray-300: #52616b;

$theme-default: (
  --background-100: $color-black-100,
  --background: $color-white,

  --color-100: $color-black-200,
  --color: $color-black-300,
);

$theme-dark: (
  --background-100: $color-gray-200,
  --background: $color-black-300,

  --color: $color-gray-200,
  --color-100: $color-gray-200,
);

@function var($variable) {
    @return unquote('var(' + $variable + ')');
}
