@import '../../Styles/colors';
@import '../../Styles/breakpoints';

.list {
    display: flex;
}

@media (min-width: $breakpoint-mobile) {
    .list {
        flex: 0 0 350px;
    }
}

.list-element {
    list-style-type: none;
    margin-top: 8px;
}

.list-element span {
    color: var(--color);
    font-weight: 700;
    font-size: 12px;
    margin: 0 5px;

    border: 1px solid var(--color);
    border-radius: 3px;
    padding: 2px 10px;
}

.list-element svg {
    height: 20px;
    width: 20px;
    margin: 5px 10px;
    color: var(--color);
}

.list-element svg path {
    fill: var(--color);
}
