@import '../../Shared/Styles/colors';

.footer {
    padding: 10px 15px;
    width: 100%;
}

.footer-links {
    font-size: 16px;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        padding: 0 20px;
    }

    a {
        color: $color-gray-300;
    }
}
