.label { 
    position : relative ;
    display : inline-block;
    width : 40px;
    height : 20px;
    background-color: #eee;
    border-radius: 20px;
    cursor: pointer;

    &:after {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: white;
        top: 1px;
        left: 1px;
        transition: all 0.3s;
      }
}

.checkbox {
    display : none;
}

.checkbox:checked + .label:after {
    left : 21px; 
}
.checkbox:checked + .label {
    background-color: #7983ff;
}